<!DOCTYPE html>

<head>
    <title>404 Not Found</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <div class="main-container">
        {{>header}}
        <img id="notfound" src="/img/page-not-found-4.png">
    </div>
    {{>footer}}
</body>